<ion-content padding>
  <h3 class="title-page">Choisissez un nouveau mot de passe pour votre compte</h3>
  <form  [formGroup]="resetForm" class="formcontain">
       <ion-item class="care-input">
         <ion-icon name="lock-closed-outline" item-start></ion-icon>
         <ion-input formControlName="password" type="password"  [placeholder]="'Nouveau Mot de passe'"></ion-input>
       </ion-item>
       <div  class="error-msg"  *ngIf="!resetForm.controls.password['valid'] && (resetForm.controls.password.dirty || submitAttempt)">
         Mot de passe non valide
       </div>

       <ion-item class="care-input">
        <ion-icon name="lock-closed-outline" item-start></ion-icon>
        <ion-input formControlName="v_password" type="password"  [placeholder]="'Retapper Mot de passe'"></ion-input>
      </ion-item>

      <div   *ngIf="(!resetForm.controls.v_password?.valid && (resetForm.controls.v_password?.dirty || submitAttempt))"  class="error-msg">&nbsp;
        <span *ngIf="resetForm.hasError('required',['v_password'])">Mot de passe non valide</span> 
        <span *ngIf="resetForm.hasError('notEquivalent',['v_password'])">Mot de passe non conforme</span> 
        &nbsp;
      </div>
     
      
     
         <ion-button (click)="changerMotdePasse()" expand="block">Confirmer</ion-button>
     </form>
</ion-content>
