.care-input {
    // border: 1px solid #ececec;
    --border-radius: 10px;
    margin-bottom: 10px !important;
    --box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.27);
    color:black;
    transition: box-shadow 0.3s ease-in-out;
  
    ion-icon {
      color: #0d2f4b;
      transition: color 0.3s ease-in-out;
      margin-right: 30px;
    }
  
  }


  .error-msg{
    width: 100%;
    text-align: left;
    color:red!important;
    font-weight: bold;
    font-size: 13px;
    margin:10px 10px 10px 10px;
  }

  ion-item{
    --highlight-height: 0px!important;
  }

  ion-button{
    height: auto;
    --background:#0d2f4b;
    --border-radius: 10px;
    --padding-top: 15px!important;
    --padding-bottom:15px!important;
  }

  .formcontain{
    margin:10px;
  }

  .icon-img{
      position:relative;
      margin-bottom: 20px;
      margin-top: 20px;
      width: 150px;
      opacity: 0.2!important;
      left: 50%;
      transform: translateX(-50%);
  }

  .formcontain{
      margin-top:20px;
  }

  .title-page{
    color:#0d2f4b;
    width: 90%;
    margin:10px 5%;
    text-align: center;
  }