
#container {
    text-align: center;
  top:0px!important;
    position: absolute;
    left: 0;
    right: 0;
    padding-bottom: 20px;
    width: 100%;
    background: rgb(113, 177, 255)!important;
    height: 100%;
    .title-log{
      position: absolute;
      top: 133px;
      padding:10px;
      width:80%;
      margin: 0px 10%;
      border-radius:30px;
      z-index: 9;
      color:#0d2f4b;
      background: white;
      box-shadow:1px 5px 42px -13px rgba(0, 0, 0, 0.4);
      h1{
        margin-top:0px!important ;
         margin-bottom:0px!important ;
      }
    }

    .head-log {
      ion-col {
        font-size: 22px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;

      }

      position: absolute;
      width:100%;
      left: 10px;
      top:10px !important;

  }

  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  
  #container::before {
    content: " ";
  
    position: absolute;
    width:209px;
    height:179px;
    background-color: transparent;
    background-image: url(../../assets/imgs/logo-login.png);
    left: 50%;
    top: -24px!important;
    background-size: cover;
    transform: translateX(-50%);
  }
  
  
  #container::after {
    content: " ";
  
    position: absolute;
    width:100%;
    height:calc(100% - 160px);
    background-color: rgba(255, 255, 255, 0.601);
    border-radius:40px 40px 0px 0px;
    left: 50%;
    bottom: 0px!important;
    background-size: cover;
    transform: translateX(-50%);
  }
  
  .care-input {
    // border: 1px solid #ececec;
    --border-radius: 20px;
    margin-bottom: 10px !important;
    --box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.27);
    color:black;
    transition: box-shadow 0.3s ease-in-out;
  
    ion-icon {
      color: #0d2f4b;
      transition: color 0.3s ease-in-out;
      margin-right: 30px;
    }
  
  }
  
  .formcontain{
    position: relative;
    top: 193px;
    z-index: 9;
    /* transform: translateY(74px); */
    margin: auto 5%;
    width: 90%;
    height: calc(100% - 200px)!important;
    overflow: scroll;
  
  }
ion-select{
    width: 100%;
}
  ion-button{
    height: auto;
    --background:#0d2f4b;
    --border-radius: 10px;
    --padding-top: 15px!important;
    --padding-bottom:15px!important;
  }
  
  .linked-me{
    color: #0d2f4b;
    text-decoration: none;
    font-size:12px;
  }
  
  .copyr{
    text-align: center;
    width: 100%;
    color: #0d2f4b;
    font-size:12px;
    z-index: 10;
    position: absolute;
    bottom: 2px;
    left: 0px;
  
  }
  
  ion-item{
    --highlight-height: 0px!important;
  }
  .error-msg{
    width: 100%;
    text-align: left;
    color:red;
    font-weight: bold;
    font-size: 13px;
    margin:10px 10px 10px 10px;
  }

  .genre-row{
    width: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    ion-col{
      display:flex;
      justify-content: center;
      align-items: center;
      .genre-title{

      }
      .genre-content{
ion-icon{
  font-size: 35px;
  font-weight: 100;

}
        height: 80px;
        width: 80px;
        font-size: 13px;
        box-shadow:-13px 13px 0px -11px #0d2f4b;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        display: flex;
        border-radius:50%;
        background:white;
         color: #0d2f4b;
      }
    }

    .selectedGenre{
      background:#0d2f4b!important;
      color: white!important;
      box-shadow:-13px 13px 0px -11px white!important;
      animation: CustommerA 0.8s linear 1 !important;
    }
  }

  /* The animation code */
@keyframes CustommerA {
  0%   {border:0px solid #0d2f4b;}
  50%{border:40px solid #0d2f4b;}
  100% {border:0px solid #0d2f4b;}
}
  