
<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <div class="head-log">
      <ion-row>
        <ion-col (click)="goBack()" class="back-icon" size="1">
          <ion-icon name="return-up-back-outline"></ion-icon>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>
    </div>
    <div class="title-log">
      <h1>		
        S'inscrire</h1>
    </div>

    <form  [formGroup]="loginForm" class="formcontain">
   <ion-row class="genre-row">
     <ion-col (click)="genre='M'">
       <div class="genre-content" [class.selectedGenre]="genre=='M'">
      <ion-icon item-start name="man-outline"></ion-icon>
      <span class="genre-title">
        Homme
      </span>   
      </div>
     </ion-col>
     <ion-col (click)="genre='F'">
       <div  class="genre-content" [class.selectedGenre]="genre=='F'">
      <ion-icon item-start name="woman-outline"></ion-icon>
      <span class="genre-title">
        Femme
      </span>  
          </div>
     </ion-col>

   </ion-row>
     <div  class="error-msg"  *ngIf="genre==null && submitAttempt">
         Tu doit Selectionner une case
        </div>
      <ion-row>
     <ion-col>
      <ion-item ion-col class="care-input">
        <ion-icon item-start name="person-outline"></ion-icon>
        <ion-input  formControlName="first_name" type="text"  [placeholder]="'Prénom'"></ion-input>
      </ion-item>
        <div  class="error-msg"  *ngIf="!loginForm.controls.first_name['valid'] && (loginForm.controls.first_name.dirty || submitAttempt)">
         Le champ prénom est obligatoire
        </div>
     </ion-col>
     <ion-col>
      <ion-item class="care-input">
        <ion-input  formControlName="last_name" type="text"  [placeholder]="'Nom'"></ion-input>
      </ion-item>
        <div  class="error-msg"  *ngIf="!loginForm.controls.last_name['valid'] && (loginForm.controls.last_name.dirty || submitAttempt)">
         Le champ nom est obligatoire
        </div>
     </ion-col>
   </ion-row>
  
   <ion-item  class="care-input">
    <ion-icon item-start name="bookmark-outline"></ion-icon>
   <ion-select (ionChange)="typeChanged($event)" [(ngModel)]="currentType" formControlName="type"  [placeholder]="'Fournisseur de services/Client'">
    <ion-select-option value="nurse">Fournisseur de services</ion-select-option>
    <ion-select-option value="customer">Client</ion-select-option>
  </ion-select>
   </ion-item>
   <div  class="error-msg"  *ngIf="!loginForm.controls.type['valid'] && (loginForm.controls.type.dirty || submitAttempt)">
    Le champ type est obligatoire
   </div>
   <ion-item *ngIf="currentType != 'customer'"   class="care-input">
    <ion-icon item-start name="layers-outline"></ion-icon>
   <ion-select formControlName="speciality"  [placeholder]="'Spécialité'">
    <ion-select-option *ngFor="let speciality of specialities" [value]="speciality.id">{{speciality.name}}</ion-select-option>
  </ion-select>
   </ion-item>
   <div  class="error-msg"  *ngIf="currentType!='customer' && !loginForm.controls.speciality['valid'] && (loginForm.controls.speciality.dirty || submitAttempt)">
    Le champ Spécialité est obligatoire
   </div>

   <ion-item button class="care-input">
    <ion-icon item-start name="phone-portrait-outline"></ion-icon>
    <ion-input     formControlName="phone"   [placeholder]="'Numéro Mobile'"></ion-input>
  </ion-item>
    <div  class="error-msg"  *ngIf="(!loginForm.controls.phone.valid && (loginForm.controls.phone.dirty || submitAttempt))">
      <span *ngIf="loginForm.controls.phone.hasError('required')">
        Numéro de téléphone portable est obligatoire
      </span>
      <span *ngIf="loginForm.controls.phone.hasError('minLength')"> Minimum 6 caracteres</span>
      <span *ngIf="loginForm.controls.phone.hasError('maxLength')"> Maximum 14 caracteres</span>
      <span *ngIf="loginForm.controls.phone.hasError('notConform')">Numero doit être Numerique</span>
      </div>
          <ion-item button (click)="openMap()" class="care-input">
            <ion-icon item-start name="location-outline"></ion-icon>
            <ion-input [(ngModel)]="address.address"    formControlName="address" type="text"  [placeholder]="'Adresse'"></ion-input>
          </ion-item>
            <div  class="error-msg"  *ngIf="!loginForm.controls.address['valid'] && (loginForm.controls.address.dirty || submitAttempt)">
              Adresse non valide
            </div>

            <ion-item ion-col class="care-input">
              <ion-icon item-start name="mail-outline"></ion-icon>
              <ion-input  formControlName="email" type="text"  [placeholder]="'E-mail'"></ion-input>
            </ion-item>
              <div  class="error-msg"  *ngIf="!loginForm.controls.email['valid'] && (loginForm.controls.email.dirty || submitAttempt)">
                E-mail non valide
              </div>


      <ion-item class="care-input">
        <ion-icon name="lock-closed-outline" item-start></ion-icon>
        <ion-input formControlName="password" type="password"  [placeholder]="'Mot de passe'"></ion-input>
      </ion-item>
      <div  class="error-msg"  *ngIf="!loginForm.controls.password['valid'] && (loginForm.controls.password.dirty || submitAttempt)">
        Mot de passe non valide
      </div>
      <ion-item class="care-input">
      <ion-icon name="create-outline" item-start></ion-icon>
      <ion-textarea maxLength="100" [placeholder]="'Description de vos services'" formControlName="description" autoGrow="true" clearOnEdit="true"></ion-textarea>
      </ion-item>
      <div  class="error-msg"  *ngIf="!loginForm.controls.description['valid'] && (loginForm.controls.description.dirty || submitAttempt)">
        Le champ description est obligatoire
      </div>
        <ion-button (click)="register()" expand="block">S'inscrire</ion-button>
    </form>

  </div>
  
</ion-content>
