
<ion-content [fullscreen]="true">
  <ion-header>  
    <ion-toolbar>  
  <ion-buttons *ngIf="auth.isAuthenticated" slot="start">  
    <ion-menu-button  color="tertiary">
      <ion-icon  color="tertiary" name="power-outline" slot="start"></ion-icon>
    </ion-menu-button> 
  </ion-buttons> 
</ion-toolbar>
</ion-header>

  <div id="container">
    <div class="title-log">
      <h3>
        Choisir un service</h3>
    </div>

    <ion-row class="category-content">
      <ion-col (click)="next(special)" *ngFor="let special of specialities;let i=index" size="6">
        <div  class="content-col" [class.isThis]="special.id==speciality?.id">
         <div class="ion-contentntent">
           <img class="icon-img" *ngIf="special.icon" [src]="special.icon"  />
          <ion-icon *ngIf="!special.icon" name="pulse-outline"></ion-icon>
         </div>
        <h3>{{special.name}}</h3>
      </div>
      </ion-col>
    </ion-row>
  </div>
<div *ngIf="showType" class="genre-popup">
  <ion-row>
  <ion-col (click)="goForward('M')" class="genre-content"  size="6">
    <ion-icon name="man"></ion-icon>
  </ion-col>
  <ion-col (click)="goForward('F')" class="genre-content" size="6">
    <ion-icon name="woman"></ion-icon>
  </ion-col>
  <ion-col class="genre-content"  size="6">
    <ion-button (click)="goForward('M')" >Homme</ion-button>
  </ion-col>
  <ion-col (click)="goForward('F')" class="genre-content" size="6">
    <ion-button >Femme</ion-button>
  </ion-col>
</ion-row>
</div>
</ion-content>