#container {
  text-align: center;
  top: 0px !important;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  background: rgb(113, 177, 255) !important;
  height: 100%;

  .category-content {
    position: absolute;
    bottom: 50%;
    width: 90%;
    left: 50%;
    transform: translate(-50%,50%);
    z-index: 9;
h3{
  margin-top:0px!important;
}
    .content-col {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #0d2f4b;
      height: 160px;
      overflow: hidden;
      background: white;
      box-shadow: 1px 5px 42px -13px rgba(0, 0, 0, 0.4);
      flex-direction: column;
      border-radius: 15px;
      position: relative;
      // padding-top: 20px !important;
         .ion-contentntent {
        background:#c6e0ff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px!important;
        width: 80px;
        border-radius:50%;
        .icon-img{
          width: 80px !important;
          top: 18px;
          position: absolute;
        }
        ion-icon {
          font-size: 55px;
        }
      }

      // .ion-contentntent {
      //   position: absolute;
      //   top: -45px;
      //   border-radius: 20px;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   color: white;
      //   background: #0d2f4b;
      //   height: 80px;
      
      //   width: 90%;
      //   .icon-img{
      //     width:70px!important;
      //   }
      //   ion-icon {
      //     font-size: 55px;
      //   }
      // }
    }

    // when it is selected
    .isThis {
      z-index: 9!important;
      &:after{
        position: absolute;
        content: " ";
        height: 50px;
        width: 50px;
        border-radius: 0px;
        bottom: -10px;
        left: 50%;
        z-index: -1!important;
        background-color: #0d2f4b;
        transform: translateX(-50%) rotate(45deg);
      }
      color: white!important;
      background: #0d2f4b!important;

      .ion-contentntent {
        background: #0d2f4b!important;
        color: #0d2f4b!important;
      }
    }

    // End css if it is
  }

  .title-log {
    position: absolute;
    top: 133px;
    padding: 10px;
    width: 80%;
    margin: 0px 10%;
    border-radius: 30px;
    z-index: 9;
    color: #0d2f4b;
    background: white;
    box-shadow: 1px 5px 42px -13px rgba(0, 0, 0, 0.4);

    h3 {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


#container::before {
  content: " ";

  position: absolute;
  width:209px;
  height:179px;
  background-color: transparent;
  background-image: url(../../assets/imgs/logo-login.png);
  left: 50%;
  top: -24px !important;
  background-size: cover;
  transform: translateX(-50%);
}


#container::after {
  content: " ";

  position: absolute;
  width: 100%;
  height: calc(100% - 160px);
  background-color: rgba(255, 255, 255, 0.601);
  border-radius: 40px 40px 0px 0px;
  left: 50%;
  bottom: 0px !important;
  background-size: cover;
  transform: translateX(-50%);
}

.care-input {
  // border: 1px solid #ececec;
  --border-radius: 20px;
  margin-bottom: 10px !important;
  --box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.27);
  color: black;
  transition: box-shadow 0.3s ease-in-out;

  ion-icon {
    color: #0d2f4b;
    transition: color 0.3s ease-in-out;
    margin-right: 30px;
  }

}

.formcontain {
  position: relative;
  top: 193px;
  z-index: 9;
  /* transform: translateY(74px); */
  margin: auto 5%;
  width: 90%;
  height: calc(100% - 200px) !important;
  overflow: scroll;

}

ion-select {
  width: 100%;
}

ion-button {
  height: auto;
  --background: #0d2f4b;
  --border-radius: 10px;
  --padding-top: 15px !important;
  --padding-bottom: 15px !important;
}

.linked-me {
  color: #0d2f4b;
  text-decoration: none;
  font-size: 12px;
}

.copyr {
  text-align: center;
  width: 100%;
  color: #0d2f4b;
  font-size: 12px;
  z-index: 10;
  position: absolute;
  bottom: 2px;
  left: 0px;

}

ion-item {
  --highlight-height: 0px !important;
}

.genre-popup {
  animation: CustommerA 1s cubic-bezier(.27, 1.13, .95, 1.02) 1 !important;
  position: absolute;
  width: 200px;
  padding-top: 20px;
  left: 50%;
  bottom: calc(50% - 195px);
  transform: translate(-50%, 50%);
  z-index: 9;
  background: #0d2f4b;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0px black;

  .genre-content {
    &:first-child {
      border-right: 2px solid white;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    ion-icon {
      font-size: 80px !important;
    }

    ion-button {
      --box-shadow: none !important;
    }
  }
}

/* The animation code */
@keyframes CustommerA {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: calc(50% - 160px);
  }
}


.customeIcon {
  font-size: 26px;
  z-index: 999;
  color: white;
  position: absolute;
  top: -38px;
  right: 20px;
}

.header-md::after {
  height: 0px !important;
  background-image: none !important;
  content: "";
}


// use this css

/* Transparent standard */
ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

/* Show background if class is active */
.show-background {
  border-style: none;
  background: var(--ion-color-primary);
}

/* Remove bottom border on md */
.header-md::after {
  background-image: none;
}

/* Remove bottom border on ios */
.header-ios ion-toolbar:last-child {
  --border-width: 0;
}