agm-map {
  height: 100%;
}
.fab{
  background-color: #0d2f4b;
  color:white;
}
.toolbar-title{
  color:white !important;
  font-family: 'Droid' !important;
  text-align: center;
} 
.bar-button-default{
  color:white !important;
}  

.custom-address-input {
  position: absolute;
  z-index: 10;
  top: 10px;
  width: 90%;
  margin:0px 5%;
  // padding: 10px;
  ion-spinner {
      position: absolute;
      z-index: 11;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
  }
  input {
      line-height: initial !important;
      padding: 10px !important;
      text-align: left;
      direction: ltr !important;
      border-radius: 5px !important;
      background: #fff;
      box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  }
}

.care-input {
  // border: 1px solid #ececec;
  --border-radius: 20px;
  margin-bottom: 10px !important;
  --box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.27);
  color:black;
  transition: box-shadow 0.3s ease-in-out;

  ion-icon {
    color: #0d2f4b;
    transition: color 0.3s ease-in-out;
    margin-right: 30px;
  }

}