<ion-content>
  <div class="custom-address-input">
    <ion-spinner *ngIf="isLoading"></ion-spinner>
    <ion-item class="care-input">
    <ion-input [placeholder]="'Entrer ton adresse'" [(ngModel)]="newLocation.address"></ion-input>
  </ion-item>
  </div>

  <div id="map" #map style="width:100%; height:100%;"></div>
 <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="confirmAddress()">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
</ion-content>
<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="getCurrentPosition()">
    <ion-icon name="locate-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
