<ion-content [fullscreen]="true">
  <div id="container">
    <div class="head-log">
      <ion-row>
        <ion-col (click)="goBack()" class="back-icon" size="1">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col size="1">
          <!-- <ion-icon name="options-outline"></ion-icon> -->
        </ion-col>
      </ion-row>
    </div>
    <div (click)="showProfile()" class="custom-card first-class">
      <ion-row>
        <ion-col class="avatar-icon" size="3">
          <img [src]="nurse.icon" />
        </ion-col>
        <ion-col size="9">
          <h2 class="card-title">{{nurse.name}}</h2>
          <p class="card-desc">
            {{nurse.description}}
          </p>
          <ionic5-star-rating class="custom-start-pos" #rating activeColor="#ffd700" defaultColor="#aaaaaa"
            readonly="true" rating="{{nurse.rate}}" fontSize="15px">
          </ionic5-star-rating>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="medecin-list">
    <div *ngIf="nurse.services && nurse.services.length > 0" class="avilability-card">
      <h3 class="title">Séléctionner un service</h3>
      <!-- <p class="duration">{{nurse.works.from}} - {{nurse.works.to}}</p> -->
      <ion-icon name="phone-portrait-outline"></ion-icon>
    </div>
    <ion-row class="service-Container">
      <ion-col (click)="selectedSerice=service.id" *ngFor="let service of nurse.services">
        <div class="content" [class.selectedcontent]="selectedSerice==service.id">
          <ion-icon name="finger-print-outline"></ion-icon>
          {{service.name}}
        </div>
      </ion-col>
    </ion-row>

    <div class="avilability-card">
      <h3 class="title">Calendrier / disponibilité</h3>
      <!-- <p class="duration">{{nurse.works.from}} - {{nurse.works.to}}</p> -->
      <ion-icon name="calendar-outline"></ion-icon>
    </div>
    <!-- <ion-row class="calendar-day">
      <ion-col (click)="selectedIndex=i" *ngFor="let day of days;let i=index;">
        <div class="day" [class.current_day]="(current_day==(i+1) && selectedIndex==null)||(selectedIndex==i)">
          {{day}}
        {{days_numbers[i]}}
        </div>
      </ion-col>
    </ion-row> -->
    <!-- ionic 2 Calendar -->
    <ion-calendar [(ngModel)]="dateMulti" [options]="optionsMulti" [type]="'string'" [format]="'YYYY-MM-DD'"
      [markDisabled]="markDisabled" (change)="onChange($event)">
    </ion-calendar>

    <ion-button (click)="checkAvailable(selectedIndex)" expand="block">Vérifier les dates disponibles</ion-button>
  </div>