<ion-content [fullscreen]="true">
  <div id="container">
    <div class="head-log">
      <ion-row>
        <ion-col (click)="goBack()" class="back-icon" size="1">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-col>
        <ion-col>
          Réservations
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>
    </div>
    <div class="custom-card first-class">
      <ion-row>
        <ion-col class="avatar-icon" size="3">
          <img [src]="nurse.icon" />
        </ion-col>
        <ion-col size="9">
          <h2 class="card-title">{{nurse.name}}</h2>
          <p class="card-desc">
            {{nurse.description}}
          </p>
          <ionic5-star-rating class="custom-start-pos" #rating
          activeColor = "#ffd700"
          defaultColor = "#aaaaaa"
          readonly = "true"
          rating= "{{nurse.rate}}"
          fontSize = "15px">
      </ionic5-star-rating>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="medecin-list">
  <div  (click)="goDtails(booking)" *ngFor="let booking of bookings;let index=i" class="custom-card">
    <ion-row>
      <ion-toggle [disabled]="booking.confirmed"  (click)="changed(booking)" [(ngModel)]="booking.confirmed" color="primary"></ion-toggle>
      <ion-col class="avatar-icon" size="3">
        <img [src]="'../assets/imgs/reservation.png'" />
      </ion-col>
      <ion-col>
        <h2 class="card-title bottom-card">{{booking.user.name}}</h2>
        <p class="card-desc">
          {{booking.user.description}}
        </p>
        <span class="service-name">
          {{booking.service.name}}
        </span>

      </ion-col>
      <ion-col class="timeContent" size="1">
         <span class="day-content">{{ booking.day}}</span>
       {{ booking.from}}
      </ion-col>
    </ion-row>
  </div>
</div>
</ion-content>