#container::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: #0d2f4b;
    left: 50%;
    top: 0px !important;
    background-size: cover;
    transform: translateX(-50%);
    border-radius: 0px 0px 0px 0px;

}

* {
    font-family: Arial !important;
}


#container {
   
    font-size: 22px;
    height: 210px;

    .head-log {
        color: white;
        ion-col {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;

        }

        position: absolute;
        width:100%;
        top:40px !important;
    

    }

    .text-content{
        position: absolute;
        width: 90%;
        margin:0% 5%;
        top: 170px;
       font-size: 20px;
       color: rgb(47, 47, 47);
       text-align: justify;
    }

}