<ion-content [fullscreen]="true">
  <div id="container">
    <div class="head-log">
      <ion-row>
        <ion-col (click)="goBack()" class="back-icon" size="1">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-col>
        <ion-col>
          Information
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>
    </div>
    <div class="text-content">
      Nous vous aidons à trouver un praticien près de chez vous et à
      prendre rendez-vous directement depuis votre smartphone.
    </div>
  </div>
    </ion-content>