#container::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: #0d2f4b;
    left: 50%;
    top: 0px !important;
    background-size: 100% !important;
    transform: translateX(-50%);
    border-radius: 0px 0px 0px 0px;
    background: url(../../assets/imgs/backgrooundCLS.jpg) no-repeat;

}

* {
    font-family: Arial !important;
}

#container {
    color: white;
    font-size: 22px;
    height: 210px;

    .head-log {
        ion-col {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;

        }

        position: absolute;
        width:100%;
        top:40px !important;

    }



}


    .custom-start-pos {
        position: absolute;
        top: 3px !important;
        right: 5px !important;

    }


.calendar-day {
    ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .day {
        background: #0d2f4b;
        border-radius: 10px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 50px;
        padding: 5px;
    }

    .current_day {
        color: #0d2f4b !important;
        background: white !important;
        border: 1px solid #0d2f4b;
    }
}

.custom-card {
    ion-col {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    img {
        border: 0;
        width: 55px;
        border-radius:5px;
        object-fit: fill;
        height: 55px;
    }

    padding: 15px 5px;

    border-radius: 15px;
    width: 90%;
    margin:10px 5%;
    background:white !important;


    ion-row {
        width: 100%;

        .avatar-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .card-title {
        color: #0d2f4b;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px !important;
        font-size: 20px;
    }

    .card-desc {
        font-weight: bolder;
        color: black;
        font-size: 12px;
        margin-top: 0px !important;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .custom-start-pos {
        position: absolute;
        top: -10px;
        right: 5px;

    }

    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.193);
}

.medecin-list {
    ion-row{
        margin:10px 0px ;
        font-size:18px!important;
    }
    height: calc(100% - 260px) !important;
    overflow: scroll;
    padding: 10px;
    .title-profile{
        color:#0d2f4b;
        font-weight: 700;
        font-size: 15px!important;
    }
    .serice-profile{
        color:white;
        background:#0d2f4b;
        border-radius:10px;
        padding: 5px!important;
        margin: 1px!important;
    }
}

ion-button {
    height: auto;
    --background: #0d2f4b;
    --border-radius: 10px;
    --padding-top: 15px !important;
    --padding-bottom: 15px !important;
}

.avilability-card {
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.193);
    margin: 5% !important;
    width: 90%;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;

    ion-icon {
        position: absolute;
        bottom: 50%;
        right: 5px;
        transform: translateY(50%) rotate(-45deg);
        opacity: 0.7;
        color: #0d2f4b;
        font-size: 50px !important;
    }

    .title {
        font-size: 18px;
        font-weight: bolder;
        margin-top: 5px !important;
    }

    p {
        margin: 0px !important;
        margin-left: 25px;
        color: rgb(78, 78, 78);
    }

}


.service-Container {
    padding :0px 15px;
    ion-col {
        display: flex;
        align-items: center;
        justify-content: center;
        .content {
            display: flex;
            background: #0d2f4b;
            color: white;
            font-size: 16px;
            padding: 5px 10px;
            border-radius:10px;
            width:100%;
            box-shadow: 0px 6px 20px -10px rgba(152, 152, 152, 0.753);
            
            ion-icon{
                font-size: 20px;
                margin-right: 5px;
                padding-right: 5px;
                border-right: 2px solid rgba(255, 255, 255, 0.699);
            }
            // justify-content: center;
            align-items: center;
        }

    }

}
.selectedcontent{
    background:white !important;
    color: #0d2f4b !important;
    border:1px solid #0d2f4b !important;
}


ion-item{
    --highlight-height: 0px!important;
  }
  .error-msg{
    width: 100%;
    text-align: left;
    color:red;
    font-weight: bold;
    font-size: 11px;
    margin: 0px 10px 20px 20px;

  }

  .care-input {
    // border: 1px solid #ececec;
    --border-radius: 20px;
    margin-bottom: 10px !important;
    --box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.27);
    color:black;
    transition: box-shadow 0.3s ease-in-out;
  
    ion-icon {
      color: #0d2f4b;
      transition: color 0.3s ease-in-out;
      margin-right: 30px;
    }
  
  }


//   Image scss


h1 small {
    display: block;
    font-size: 15px;
    padding-top: 8px;
    color: gray;
  }
  .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
  }
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 28px;
    z-index: 54;
    top: 10px;
    border: white;
    border-radius: 50%;
    background: #ffffff;
    height: 35px;
    color: #9a9a9a;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0px 2px 2px -1px rgb(0 0 0 / 57%);
  }
  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  .avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: "FontAwesome";
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }
  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
  }
  
  