<ion-content [fullscreen]="true">
  <div id="container">

    <div class="avatar-upload">
      <div *ngIf="auth.user.type!='customer'" class="avatar-edit">
          <label for="imageUpload">
            <ion-icon name="pencil-outline"></ion-icon>
          </label>
      </div>
      <div (click)="uploadIamge()" class="avatar-preview">
          <div id="imagePreview" [style]="'background:url('+nurse.icon+')'">
          </div>
      </div>
  </div>

    <div class="head-log">
      <ion-row>
        <ion-col (click)="goBack()" class="back-icon" size="1">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col size="1">
          <!-- <ion-icon name="options-outline"></ion-icon> -->
        </ion-col>
      </ion-row>
    </div>
    <ionic5-star-rating class="custom-start-pos" #rating activeColor="#ffffff" defaultColor="#aaaaaa"
    readonly="true" rating="{{nurse.rate}}" fontSize="15px">
  </ionic5-star-rating>
  </div>
  <div class="medecin-list">

    <form  [formGroup]="loginForm" class="formcontain">
  
         <ion-item ion-col class="care-input">
           <ion-icon item-start name="person-outline"></ion-icon>
           <ion-input [disabled]="auth.user.type=='customer'" formControlName="name" type="text" [(ngModel)]="nurse.name"  [placeholder]="'Prénom'"></ion-input>
         </ion-item>
           <div  class="error-msg"  *ngIf="!loginForm.controls.name['valid'] && (loginForm.controls.name.dirty || submitAttempt)">
            Le champ prénom est obligatoire
           </div>
 
   
      <ion-item button class="care-input">
       <ion-icon item-start name="phone-portrait-outline"></ion-icon>
       <ion-input  [disabled]="auth.user.type=='customer'"  formControlName="phone" type="number" [(ngModel)]="nurse.phone" [placeholder]="'Numéro Mobile'"></ion-input>
     </ion-item>
       <div  class="error-msg"  *ngIf="!loginForm.controls.phone['valid'] && (loginForm.controls.phone.dirty || submitAttempt)">
         Numéro de téléphone portable est obligatoire
       </div>
             <ion-item button (click)="openMap()" class="care-input">
               <ion-icon item-start name="location-outline"></ion-icon>
               <ion-input [disabled]="auth.user.type=='customer'" [(ngModel)]="nurse.location.address"    formControlName="address" type="text"  [placeholder]="'Adresse'"></ion-input>
             </ion-item>
               <div  class="error-msg"  *ngIf="!loginForm.controls.address['valid'] && (loginForm.controls.address.dirty || submitAttempt)">
                 adresse non valide
               </div>
   
               <ion-item ion-col class="care-input">
                 <ion-icon item-start name="mail-outline"></ion-icon>
                 <ion-input [disabled]="auth.user.type=='customer'" [(ngModel)]="nurse.email" formControlName="email" type="text"  [placeholder]="'E-mail'"></ion-input>
               </ion-item>
                 <div  class="error-msg"  [(ngModel)]="nurse.email"  *ngIf="!loginForm.controls.email['valid'] && (loginForm.controls.email.dirty || submitAttempt)">
                   E-mail non valide
                 </div>
         <ion-item class="care-input">
         <ion-icon name="create-outline" item-start></ion-icon>
         <ion-textarea [disabled]="auth.user.type=='customer'" maxLength="100"  [(ngModel)]="nurse.description" [placeholder]="'Description de vos services'" formControlName="description" autoGrow="true" clearOnEdit="true"></ion-textarea>
         </ion-item>
         <div  class="error-msg"  *ngIf="!loginForm.controls.description['valid'] && (loginForm.controls.description.dirty || submitAttempt)">
           Le champ description est obligatoire
         </div>
         <ion-row>
          <ion-col  class="title-profile"  size="4">
            Services :
          </ion-col>
          <ion-col>
            <span style="opacity:0.5;" class="title-profile" *ngIf="!nurse.services || nurse.services.length == 0">- Aucun service Ajouter -</span>
            <ion-row *ngIf="nurse.services && nurse.services.length > 0">
              <ion-col class="serice-profile" *ngFor="let service of nurse.services;">
                {{service.name}}
              </ion-col>
            </ion-row>
    
          </ion-col>
        </ion-row>

           <ion-button *ngIf="auth.user.type!='customer'" (click)="register()" expand="block">Modifier</ion-button>
       </form>



  </div>
</ion-content>