.care-input {
  border: 1px solid #ececec;
  border-radius: 7px;
  margin-bottom: 10px !important;
  box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.27);
  color: rgb(113, 177, 255);
  transition: box-shadow 0.3s ease-in-out;

  ion-icon {
    color: rgb(113, 177, 255);
    transition: color 0.3s ease-in-out;
  }
}

.btnOpen {
  position: absolute;
  top: -2px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #13486f;
  padding: 0px 0px 0px 11px;
  font-size: 18px;
  overflow: hidden;
  box-shadow: none !important;
  z-index: 999999 !important;
  color: white !important;
  height: 35px;
  width: 35px;
  border-radius: 0px 0px 0px 50px;
}

.menue-title {
  font-size: 15px !important;
}

ion-list {
  background: transparent !important;
  ion-item {
    font-size: 15px !important;
    --background:transparent;
  }
}