<ion-app>
 

  <ion-menu *ngIf="auth.isAuthenticated" side="end" menuId="first" contentId="content">  
    <ion-header>  
      <ion-toolbar color="tertiary">  
        <ion-title class="menue-title">Bonjour, {{auth.user.name}}</ion-title>  
      </ion-toolbar>   
    </ion-header>  
    <ion-content color="light">  
      <ion-list>  
        <ion-menu-toggle auto-hide="true">  
          <ion-item (click)=resevations() routerDirection="forward">  
            <ion-icon color="tertiary" name="list-circle-outline" slot="start"></ion-icon>
            Mes réservations   
          </ion-item>  

          <ion-item  (click)=info()  routerDirection="forward"> 
            <ion-icon color="tertiary" name="information-circle-outline" slot="start"></ion-icon> 
            Info 
          </ion-item> 

          <ion-item *ngIf='this.auth.user.type=="nurse"' (click)=profile() routerDirection="forward">  
            <ion-icon color="tertiary" name="list-circle-outline" slot="start"></ion-icon>
            Mon profile  
          </ion-item>

          <ion-item  (click)=logout() routerDirection="forward">  
            <ion-icon color="tertiary" name="power-outline" slot="start"></ion-icon>
            Se déconnecter   
          </ion-item>  
        </ion-menu-toggle>  
      </ion-list>  
    </ion-content>   
  </ion-menu> 
  <ion-router-outlet  Id="content">
   
  </ion-router-outlet>
</ion-app>
