<ion-content [fullscreen]="true">
    <div id="container">
        <div class="head-log">
            <ion-row>
                <ion-col (click)="goBack()" class="back-icon" size="1">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </ion-col>
                <ion-col>
                    Réservations
                </ion-col>
                <ion-col size="1">
                </ion-col>
            </ion-row>
        </div>
    </div>
    <div class="medecin-list">
        <div  *ngFor="let booking of bookings;let i=index"
            class="custom-card fadeIn" [class.first-class]="i==0">
            <span class="priceContent">{{booking.service.price}} DT</span>
            <ion-row>
                <ion-col class="avatar-icon" size="3">
                    <img [src]="'../assets/imgs/reservation.png'" />
                </ion-col>
                <ion-col>
                    <h2 class="card-title bottom-card">{{booking.nurse.name}}</h2>
                    <p class="card-desc">
                        {{booking.nurse.email}}
                    </p>
                    <span class="service-name">
                        <ion-row>
                            <ion-col size="4">
                                {{booking.service.name}}
                            </ion-col>
                            <ion-col>
                              |  {{booking.user.name}}
                            </ion-col>
                        </ion-row>
                    </span>

                </ion-col>
                <ion-col class="timeContent" size="1">
                    <span class="day-content">{{ booking.day}}</span>
                    {{ booking.from}}
                </ion-col>
            </ion-row>
        </div>
        <ion-infinite-scroll threshold='10px' (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Chargement des donneés...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
    </div>

</ion-content>