<ion-content [fullscreen]="true">
  <div id="container">
    <div class="head-log">
      <ion-row>
        <ion-col size="1">
          <ion-menu-button>
          </ion-menu-button>
        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col size="1">
          <ion-icon (click)="gotoReservations()" name="options-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
    <div class="custom-card first-class">
      <ion-row>
        <ion-col class="avatar-icon" size="3">
          <img [src]="nurse.icon"/>
        </ion-col>
        <ion-col size="9">
          <h2 class="card-title">{{nurse.name}}</h2>
          <p class="card-desc">
            {{nurse.description}}
          </p>
          <ionic5-star-rating class="custom-start-pos" #rating activeColor="#ffd700" defaultColor="#aaaaaa"
            readonly="true" rating="{{nurse.rate}}" fontSize="15px">
          </ionic5-star-rating>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <hr class="separator">
  <div class="medecin-list">
    <div class="avilability-card">
      <h3 class="title">Ajouter un service </h3>
      <ion-icon class="customIcon-add" (click)="showAdd=true" name="add-circle"></ion-icon>
    </div>
    <!-- Service Form -->
    <form *ngIf="showAdd"  [formGroup]="serviceForm" class="animated fadeIn formcontain">
      <ion-row class="service-add-content">
        <ion-col size="12"> <h2>Nouveau Service : </h2></ion-col>
        <ion-col size="5">
          <ion-input formControlName="name" type="text" [placeholder]="'Nom de Service'"></ion-input>
          <div class="error-msg white"
            *ngIf="!serviceForm.controls.name['valid'] && (serviceForm.controls.name.dirty || addservice)">
            Nom Obligatoire
          </div>
        </ion-col>
        <ion-col>
          <ion-input formControlName="duration" type="number" [placeholder]="'Durée'"></ion-input>
          <div class="error-msg white"
            *ngIf="!serviceForm.controls.duration['valid'] && (serviceForm.controls.duration.dirty || addservice)">
            Durée Obligatoire
          </div>
        </ion-col>
        <ion-col>
          <ion-input formControlName="price" type="number" [placeholder]="'Prix'"></ion-input>
          <div class="error-msg white"
            *ngIf="!serviceForm.controls.price['valid'] && (serviceForm.controls.price.dirty || addservice)">
            Prix Obligatoire
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-button (click)="addService()" expand="block">Ajouter Service</ion-button>

        </ion-col>
      </ion-row>
    </form>

    <!-- End Service Form -->
    <ion-row class="service-Container">
      <ion-col class="animated fadeIn" (click)="selectedSerice=service.id" *ngFor="let service of nurse.services;let i=index;">
        <div class="content" >
          <ion-icon name="finger-print-outline"></ion-icon>
          {{service.name}}

          <ion-icon (click)="deleteService(service.id,i)" class="kill-service" name="trash-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <div class="avilability-card">
      <h3 class="title">Votre calendrier hebdomadaire </h3>
      <!-- <p class="duration">{{availability[selectedIndex+1][0].from}} - {{availability[selectedIndex+1][0].to}}</p> -->
      <ion-icon name="calendar-outline"></ion-icon>
    </div>
    <ion-row class="calendar-day">
      <ion-col (click)="selectedIndex=i" *ngFor="let day of days;let i=index;">
        <div class="day" [class.current_day]="(current_day==(i+1) && selectedIndex==null)||(selectedIndex==i)">
          {{day}}
          {{days_numbers[i]}}
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="calendar-day">
      <ion-col (click)="delete(selectedIndex,i)" [class.nomargin]="!availabile.from" (press)="delete(selectedIndex,i)"
        *ngFor="let availabile of availability[selectedIndex+1];let i=index;">
        <div *ngIf="availabile.from" class="day" [class.current_day]="selectedtime==i">
          De {{availabile.from | time | date: 'H:mm'}}&nbsp;&nbsp;à&nbsp;&nbsp;{{availabile.to  | time | date: 'H:mm'}}
        </div>
      </ion-col>
    </ion-row>

    <!-- <ion-row class="calendar-day">
      <ion-col (click)="delete(selectedIndex,i)" (press)="delete(selectedIndex,i)"
        *ngFor="let availabile of availability[days[selectedIndex]];let i=index;">
        <div class="day" [class.current_day]="selectedtime==i">
          {{availabile}}
        </div>
      </ion-col>
    </ion-row> -->
    <form [formGroup]="timeForm">
      <ion-row class="time-container">
        <ion-col class="label-time" size="3">
          De
        </ion-col>
        <ion-col>
          <ion-input formControlName="fromHour" [(ngModel)]="from.hours" type="number" [placeholder]="'HH (Heures)'">
          </ion-input>
          <div class="error-msg"
            *ngIf="!timeForm.controls.fromHour['valid'] && (timeForm.controls.fromHour.dirty || submitAttempt)">
            Heure non valide
          </div>
        </ion-col>
        <ion-col class="label-time" size="1">
          :
        </ion-col>
        <ion-col>
          <ion-input formControlName="fromMin" [(ngModel)]="from.minutes" type="number" [placeholder]="'MM (Minutes)'">
          </ion-input>
          <div class="error-msg"
            *ngIf="!timeForm.controls.fromMin['valid'] && (timeForm.controls.fromMin.dirty || submitAttempt)">
            Minute(s) non valide
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="time-container">
        <ion-col class="label-time" size="3">
          à
        </ion-col>
        <ion-col>
          <ion-input formControlName="toHour" [(ngModel)]="to.hours" type="number" [placeholder]="'HH (Heures)'">
          </ion-input>
          <div class="error-msg"
            *ngIf="!timeForm.controls.toHour['valid'] && (timeForm.controls.toHour.dirty || submitAttempt)">
            Heure non valide
          </div>
        </ion-col>
        <ion-col class="label-time" size="1">
          :
        </ion-col>
        <ion-col>
          <ion-input formControlName="toMin" [(ngModel)]="to.minutes" type="number" [placeholder]="'MM (Minutes)'">
          </ion-input>
          <div class="error-msg"
            *ngIf="!timeForm.controls.toMin['valid'] && (timeForm.controls.toMin.dirty || submitAttempt)">
            Minute(s) non valide
          </div>
        </ion-col>
        <!-- <ion-col>
        <ion-select  [(ngModel)]="time.type" [placeholder]="'AM/PM'">
          <ion-select-option value="AM">AM</ion-select-option>
          <ion-select-option value="PM">PM</ion-select-option>
        </ion-select>
      </ion-col> -->
      </ion-row>
    </form>

    <ion-row>
      <ion-col size="6">
        <ion-button class="confirmed-btn" (click)="add()" expand="block">Ajouter horaires</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="confirmed-btn" (click)="clear()" expand="block">Vider calendrier</ion-button>
      </ion-col>
    </ion-row>
    <ion-button (click)="confirmSchedule()" expand="block">
      <ion-icon name="checkmark-outline"></ion-icon>
      Confirmer
    </ion-button>

  </div>