#container::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: #0d2f4b;
    left: 50%;
    top: 0px !important;
    background-size: 100% !important;
    transform: translateX(-50%);
    border-radius: 0px 0px 0px 0px;
    background: url(../../assets/imgs/backgrooundCLS.jpg) no-repeat;

}

* {
    font-family: Arial !important;
}

#container {
    color: white;
    font-size: 22px;
    height: 210px;

    .head-log {
        ion-col {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;

        }

        position: absolute;
        width:100%;
        top:40px !important;

    }



}

.first-class {
    position: absolute;
    top: 88px !important;
    z-index: 9;
    padding: 15px 4px !important;
    margin: 5% !important;
    box-shadow: -1px 13px 20px -11px rgba(0, 0, 0, 0.393) !important;

    .custom-start-pos {
        position: absolute;
        top: -15px !important;
        right: 3px !important;

    }
}

.calendar-day {
    ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .day {
        background: #0d2f4b;
        border-radius: 10px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 50px;
        padding: 5px;
    }

    .current_day {
        color: #0d2f4b !important;
        background: white !important;
        border: 1px solid #0d2f4b;
    }
}

.custom-card {
    ion-col {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    img {
        border: 0;
        width: 55px;
        border-radius:5px;
        object-fit: fill;
        height: 55px;
    }

    padding: 15px 5px;

    border-radius: 15px;
    width: 90%;
    margin:10px 5%;
    background:white !important;


    ion-row {
        width: 100%;

        .avatar-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .card-title {
        color: #0d2f4b;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px !important;
        font-size: 20px;
    }

    .card-desc {
        font-weight: bolder;
        color: black;
        font-size: 12px;
        margin-top: 0px !important;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .custom-start-pos {
        position: absolute;
        top: -10px;
        right: 5px;

    }

    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.193);
}

.medecin-list {
    height: calc(100% - 225px) !important;
    overflow: scroll;
}

ion-button {
    height: auto;
    --background: #0d2f4b;
    --border-radius: 10px;
    --padding-top: 15px !important;
    --padding-bottom: 15px !important;
}

.avilability-card {
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.193);
    margin: 5% !important;
    width: 90%;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;

    ion-icon {
        position: absolute;
        bottom: 50%;
        right: 5px;
        transform: translateY(50%) rotate(-45deg);
        opacity: 0.7;
        color: #0d2f4b;
        font-size: 50px !important;
    }

    .customIcon-add{
        position: absolute;
        bottom: 50%;
        right: 10px;
        transform: translateY(50%) rotate(0deg)!important;
        color: #0d2f4b;
        font-size:30px !important; 
        opacity: 1!important;
       
    }

    .title {
        font-size: 16px;
        font-weight: bolder;
        margin-top: 5px !important;
    }

    p {
        margin: 0px !important;
        margin-left: 25px;
        color: rgb(78, 78, 78);
    }

}

.time-container{
margin:3px 15px!important;
}
ion-input{
    font-size: 12px!important;
    
}
.label-time{
    font-size:15px!important;
    font-weight: bolder!important;
    color: #0d2f4b!important;
    display: flex!important;
    // justify-content: center!important;
    align-items: center!important;

}

.nomargin{
    display: none!important;
}

.error-msg{
    color:red;
    font-size: 11px;
}

.header-md::after {
    height: 0px!important;
    background-image:none!important;
    content: "";
  }
  
  
  // use this css
  
  /* Transparent standard */
  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
  }
  
  /* Show background if class is active */
  .show-background {
    border-style: none;
    background: var(--ion-color-primary);
  }
  
  /* Remove bottom border on md */
  .header-md::after {
    background-image: none;
  }
  
  /* Remove bottom border on ios */
  .header-ios ion-toolbar:last-child {
    --border-width: 0;
  }


  .service-Container {
    padding :0px 15px;
    ion-col {
        display: flex;
        align-items: center;
        justify-content: center;
        .content {
            display: flex;
            background: #0d2f4b;
            color: white;
            font-size: 16px;
            padding: 5px 10px;
            border-radius:10px;
            width:100%;
            box-shadow: 0px 6px 20px -10px rgba(152, 152, 152, 0.753);
            
            ion-icon{
                font-size: 20px;
                margin-right: 5px;
                padding-right: 5px;
                border-right: 2px solid rgba(255, 255, 255, 0.699);
            }

            .kill-service{
                position: absolute;
                right:2px;
                color:white;
                 border-right:none!important;
            }
            // justify-content: center;
            align-items: center;
        }

    }

}
.selectedcontent{
    background:white !important;
    color: #0d2f4b !important;
    border:1px solid #0d2f4b !important;
}

.service-add-content{
    padding:5px;
    width: 90%;
    margin:0% 5%;
    border-radius:10px;
    background-color: #0d2f4b !important;
    h2{
        margin-left:5px;
        color:white;
        font-size:18px;
    }
ion-input{
    background-color: white;
    padding:5px;
    border-radius:10px;
}
ion-button{
    border:2px solid white;
    border-radius:10px;
}
.white{
    color:white!important;
}
}


.confirmed-btn{
    font-size:12px!important;
}

