#container::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: #0d2f4b;
    left: 50%;
    top: 0px !important;
    background-size: cover;
    transform: translateX(-50%);
    border-radius: 0px 0px 0px 0px;

}

* {
    font-family: Arial !important;
}

#container {
    color: white;
    font-size: 22px;
    height: 210px;

    .head-log {
        ion-col {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;

        }

        position: absolute;
        width:100%;
        top:40px !important;

    }



}

.first-class {
    position: absolute;
    top: 88px !important;
    z-index: 9;
    padding: 10px 4px!important;
    margin:5%!important;
    box-shadow: -1px 13px 20px -11px rgba(0, 0, 0, 0.393) !important;
    
    .custom-start-pos {
        position: absolute;
        top: -12px !important;
        right: 3px  !important;

    }
    .card-desc{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.custom-card {
    ion-col {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    img {
        border: 0;
        width: 55px;
        border-radius:5px;
        object-fit: fill;
        height: 55px;
    }

    padding: 15px 5px;

    border-radius: 15px;
    width: 90%;
    margin:10px 5%;
    background:white !important;


    ion-row {
        width: 100%;

        .avatar-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .card-title {
        color: #0d2f4b;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px !important;
        font-size: 20px;
    }

    .card-desc {
        font-weight: bolder;
        color: black;
        font-size: 12px;
        margin-top: 0px !important;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .custom-start-pos {
        position: absolute;
        top: -10px;
        right: 5px;

    }

    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.193);
}

.medecin-list{
    height:calc(100% - 220px)!important;
overflow: scroll;}

.no-content{
    position: absolute;
    top: 50%;
    color: rgba(0, 0, 0, 0.230);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    right: 50%;
    z-index: 9;
    transform: translate(50%, 10px);
    font-size: 30px;
    ion-icon{
        font-size: 65px;
    }
    
}

.distanceLog{
    position: absolute;
    top: -10px;
    color: #0d2f4b;
    font-weight: 700;
    left: -61px;
    font-size: 12px;
}