<ion-content [fullscreen]="true">
  <div id="container">
    <div class="head-log">
      <ion-row>
        <ion-col (click)="goBack()" class="back-icon" size="1">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-col>
        <ion-col>
          {{speciality.name}} disponibles
        </ion-col>
        <ion-col (click)="goLists()" class="back-icon" size="1">
          <ion-icon name="options-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="!nureses || (nureses.length < 1)" class="no-content">
      <ion-icon name="bandage-outline"></ion-icon>
      Pas des Donneés
    </div>
    <div  (click)="goDtails(auth.bestNurse)" *ngIf="auth.bestNurse" class="custom-card first-class">
      <ion-row>
        <ion-col class="avatar-icon" size="3">
          <img [src]=auth.bestNurse.icon />
        </ion-col>
        <ion-col size="9">
          <h2 class="card-title">{{auth.bestNurse.name}}</h2>
          <p class="card-desc">
            {{auth.bestNurse.description}}
          </p>
          
          <ionic5-star-rating class="custom-start-pos" #rating
          activeColor = "#ffd700"
          defaultColor = "#aaaaaa"
          readonly = "true"
          rating = "{{auth.bestNurse.rate}}"
          fontSize = "15px">
      </ionic5-star-rating>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="medecin-list">
  <div  (click)="goDtails(nurse)" *ngFor="let nurse of nureses;let index=i" class="custom-card">
    <ion-row>
      <ion-col class="avatar-icon" size="3">
        <img [src]=nurse.icon />
      </ion-col>
      <ion-col  size="9">
        <h2 class="card-title">{{nurse.name}}</h2>
        <p class="card-desc">
          {{nurse.description}}
        </p>
        <ionic5-star-rating class="custom-start-pos"
        readonly = "true"
        rating = "{{nurse.rate}}"
        fontSize = "15px">
    </ionic5-star-rating>
    <span class="distanceLog" *ngIf="nurse.distance">{{nurse.distance}} Km</span>
      </ion-col>
    </ion-row>
  </div>
</div>
</ion-content>