
#container {
  text-align: center;
top:0px!important;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  background: rgb(113, 177, 255)!important;
  height: 100%;
  .title-log{
    position: absolute;
    top: 161px;
    padding:10px;
    width:80%;
    margin: 0px 10%;
    border-radius:30px;
    z-index: 9;
    color:#0d2f4b;
    background: white;
    box-shadow:1px 5px 42px -13px rgba(0, 0, 0, 0.4);
    h1{
      margin-top:0px!important ;
       margin-bottom:0px!important ;
    }
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


#container::before {
  content: " ";

  position: absolute;
  width:250px;
  height:300px;
  background-color: transparent;
  background-image: url(../../assets/imgs/logo-login.png);
  background-repeat: no-repeat;
  left: 50%;
  top: -29px!important;
  background-size: contain;
  transform: translateX(-50%);
}


#container::after {
  content: " ";

  position: absolute;
  width:100%;
  height:calc(100% - 186px);
  background-color: rgba(255, 255, 255, 0.601);
  border-radius:40px 40px 0px 0px;
  left: 50%;
  bottom: 0px!important;
  background-size: cover;
  transform: translateX(-50%);
}

.care-input {
  // border: 1px solid #ececec;
  --border-radius: 20px;
  margin-bottom: 10px !important;
  --box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.27);
  color:black;
  transition: box-shadow 0.3s ease-in-out;

  ion-icon {
    color: #0d2f4b;
    transition: color 0.3s ease-in-out;
    margin-right: 30px;
  }

}

.formcontain{
  position: relative;
  margin-top: 91px!important;
  top: 50%;
  z-index: 9;
  transform: translateY(-50%);
  margin: auto 5%;
  width: 90%;

}

ion-button{
  height: auto;
  --background:#0d2f4b;
  --border-radius: 10px;
  --padding-top: 15px!important;
  --padding-bottom:15px!important;
}

.linked-me{
  color: #0d2f4b;
  text-decoration: none;
  font-size:12px;
  z-index: 9!important;
}

.copyr{
  text-align: center;
  width: 100%;
  color: #0d2f4b;
  font-size:12px;
  z-index: 10;
  position: absolute;
  bottom: 2px;
  left: 0px;

}

ion-item{
  --highlight-height: 0px!important;
}
.error-msg{
  width: 100%;
  text-align: left;
  color:red;
  font-weight: bold;
  font-size: 13px;
  margin:10px 10px 10px 10px;
}
