
<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <div class="title-log">
      <h1>		
        Se connecter</h1>
    </div>

    <form  [formGroup]="loginForm" class="formcontain">
      <ion-item class="care-input">
        <ion-icon item-start name="mail-outline"></ion-icon>
        <ion-input  formControlName="email" type="text"  [placeholder]="'E-mail'"></ion-input>
      </ion-item>
        <div  class="error-msg"  *ngIf="!loginForm.controls.email['valid'] && (loginForm.controls.email.dirty || submitAttempt)">
          Merci de saisir un email valide
        </div>
      <ion-item class="care-input">
        <ion-icon name="lock-closed-outline" item-start></ion-icon>
        <ion-input formControlName="password" type="password"  [placeholder]="'Mot de passe'"></ion-input>
      </ion-item>
      <div  class="error-msg"  *ngIf="!loginForm.controls.password['valid'] && (loginForm.controls.password.dirty || submitAttempt)">
        Mot de passe non valide
      </div>
      <ion-row>
        <ion-col size="6" (click)="showForgot()"><a class="linked-me">Mot de passe oublié ?</a></ion-col>
        <ion-col></ion-col>
        <ion-col (click)="register()" size="4"><a class="linked-me">S'inscrire</a></ion-col>
      </ion-row>
        <ion-button (click)="login()" expand="block">Se connecter</ion-button>
 
    </form>

  </div>
  
</ion-content>
