<ion-content [fullscreen]="true">
  <div id="container">
    <div class="head-log">
      <ion-row>
        <ion-col (click)="goBack()" class="back-icon" size="1">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-col>
        <ion-col>
         
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>
    </div>
    <div class="custom-card first-class">
      <ion-row>
        <ion-col class="avatar-icon" size="3">
          <img [src]="nurse.icon" />
        </ion-col>
        <ion-col size="9">
          <h2 class="card-title">{{nurse.name}}</h2>
          <p class="card-desc">
            {{nurse.description}}
          </p>
          <ionic5-star-rating class="custom-start-pos" #rating
          activeColor = "#ffd700"
          defaultColor = "#aaaaaa"
          readonly = "true"
          rating = "{{nurse.rate}}"
          fontSize = "15px">
      </ionic5-star-rating>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="medecin-list">
    <h3 class="day-free">Horaires disponibles le <span>{{selected_date}}</span></h3>
    <!-- <ion-row class="calendar-day">
      <ion-col (click)="selectedIndex=i" *ngFor="let day of days;let i=index;">
        <div class="day" [class.current_day]="(current_day==(i+1) && selectedIndex==null)||(selectedIndex==i)">
          {{day}}
        {{days_numbers[i]}}
        </div>
      </ion-col>
    </ion-row> -->

    <ion-row class="calendar-day">
      <ion-col (click)="selectedtime=i"
        *ngFor="let availabile of availables;let i=index;">
        <div class="day" [class.current_day]="selectedtime==i">
         {{availabile}}
        </div>
      </ion-col>
    </ion-row>
    <ion-button (click)="joinReservation()"  expand="block">Réservation</ion-button>
    <hr class="separator">
  <div id="map" #map style="width:100%; height:50%;"></div>
  </div>


  
